<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @product.body %>
</p>
<%= image_tag @product.photo.url %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>


<%= image_tag @photo.avatar.url %>
<%= image_tag @photo.avatar.url(:medium) %>
<%= image_tag @photo.avatar.url(:thumb) %>



<form name="input" action="html_form_action.asp" method="get">
Username: <input type="text" name="user">
<input type="submit" value="Submit">
</form> 

